*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


body{

background:
linear-gradient(135deg,#ffd6ec,#d8c5ff);

color:white;

text-align:center;

overflow-x:hidden;

}


#loader{

position:fixed;

width:100%;
height:100vh;

background:#ff9ed8;

display:flex;

justify-content:center;

align-items:center;

z-index:999;

}


.loader-text{

font-size:25px;

animation:pulse 1.5s infinite;

}


@keyframes pulse{

50%{
transform:scale(1.2);
}

}



.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:20px;

}


.hero h1{

font-size:60px;

text-shadow:0 0 20px pink;

}


.hero h2{

font-size:25px;

}


.hero button{

margin-top:30px;

padding:15px 35px;

border:none;

border-radius:30px;

background:#ff4fa3;

color:white;

font-size:18px;

}



.balloons{

position:absolute;

top:20px;

width:100%;

font-size:50px;

animation:float 5s infinite;

}


@keyframes float{

50%{

transform:translateY(40px);

}

}



.gallery{

padding:50px 20px;

}


.slider img{

width:85%;

max-width:400px;

border-radius:25px;

box-shadow:0 0 30px white;

}



.message{

padding:50px 30px;

}


.message p{

font-size:20px;

line-height:1.8;

}



.finale{

height:60vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

}


#fireworks{

position:fixed;

top:0;

left:0;

pointer-events:none;

}



#musicBtn{

position:fixed;

right:20px;

bottom:20px;

background:#ff4fa3;

border:none;

border-radius:50%;

width:60px;

height:60px;

font-size:25px;

z-index:10;

}



@media(max-width:600px){

.hero h1{

font-size:40px;

}


.hero h2{

font-size:20px;

}

}
